@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: inherit;
  overflow: hidden;
  background-color: #974cf6;
  scroll-behavior: smooth;
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Adjust this according to your layout */
}

.main img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.85;
  width: 100vh;
  transition: opacity 0.3s, transform 0.3s; /* Add transition for smooth effect */
}

.main img:hover {
  opacity: 1; /* Reduce transparency on hover */
  transform: scale(1.05); /* Make the image slightly bigger on hover */
}


.footer {
  color: rgba(240, 248, 255, 0.27);
  position: absolute;
  bottom: -45vw;
  /* Stick the footer at the bottom */
  width: 100%;
  /* Ensure the footer spans the entire width */
  text-align: center;
  /* Center-align the content within the footer */
}